whatsapp.iwanus.eu, whatsapp.home.iwanus.eu {
	tls /certs/fullchain.pem /certs/key.pem

	handle /api/* {
		uri strip_prefix /api
		reverse_proxy api:3001 {
			header_up x-api-key {$WHATSAPP_API_KEY}
		}
	}

	@backend path /ping /session/* /client/*
	handle @backend {
		reverse_proxy api:3001 {
			header_up x-api-key {$WHATSAPP_API_KEY}
		}
	}

	handle {
		root * /srv/webui
		file_server
	}
}
